{% extends '_layout.html' %}

{% block dimensions %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><b>X</b> axis selector</h3>
        </div>
        <div class="panel-body">
            <select id="x-axis">
                {% for name, verbose_name in axis %}
                    <option value="{{ name }}">{{ verbose_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><b>Y</b> axis selector</h3>
        </div>
        <div class="panel-body">
            <select id="y-axis">
                {% for name, verbose_name in axis %}
                    <option value="{{ name }}">{{ verbose_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}

{% block table %}
    <table class="table table-striped" style="margin-top: 10px">
        <thead>
        <tr>
            <th>#</th>
            <th>Main class</th>
            <th>Proportion</th>
            <th id="x-mean-column">X mean</th>
            <th id="x-std-column">X std</th>
            <th id="y-mean-column">Y mean</th>
            <th id="y-std-column">Y std</th>
        </tr>
        </thead>
        <tbody id="statistics-table-body"></tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function refreshTable(data, x_title, y_title) {
            var segments = data.segments;
            var table_body = "";
            segments = segments.sort(function (a, b) {
                return a.name.localeCompare(b.name)
            });

            for (var i = 0; i < segments.length; i++) {
                if (segments[i].name === 'noise') continue;
                table_body +=
                    "<tr>" +
                    "<td>" + segments[i].name + "</td>" +
                    "<td>" + segments[i].statistics.label_true + "</td>" +
                    "<td>" + segments[i].statistics.label_true_count + '/' + segments[i].statistics.total + "</td>" +
                    "<td>" + segments[i].statistics.mean[0] + "</td>" +
                    "<td>" + segments[i].statistics.std[0] + "</td>" +
                    "<td>" + segments[i].statistics.mean[1] + "</td>" +
                    "<td>" + segments[i].statistics.std[1] + "</td>" +
                    "</tr>"
            }
            $('#statistics-table-body').html(table_body);

            $('#x-mean-column').html(x_title + ' mean');
            $('#x-std-column').html(x_title + ' std');
            $('#y-mean-column').html(y_title + ' mean');
            $('#y-std-column').html(y_title + ' std');
        }

        function refresh() {
            var x = $('#x-axis')[0];
            var y = $('#y-axis')[0];
            var clustering_algorithm = $('#clustering-algorithm')[0];

            var query_dict = {
                'x': x.value,
                'y': y.value,
                'clustering_algorithm': clustering_algorithm.value,
                'species[]': getSelectedSpecies()
            };
            $.get('{{ url_for('parameters_2d') }}', query_dict, function (data) {
                refreshChart(data, x[x.selectedIndex].text, y[y.selectedIndex].text);
                refreshTable(data, x[x.selectedIndex].text, y[y.selectedIndex].text);
            });
        }
    </script>

    <script type="text/javascript">
        $('#nd-bar').removeClass('active');
        $('#2d-bar').addClass('active');

        $('#x-axis').select2({
            containerCssClass: "no-border"
        });
        $('#y-axis').select2({
            containerCssClass: "no-border"
        });
    </script>
{% endblock %}