{% extends '_layout.html' %}

{% block filter %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Filter by species</h3>
        </div>
        <div class="panel-body">
            <select id="species-filter" class="form-control" multiple="multiple"></select>
        </div>
    </div>
{% endblock %}

{% block scripts_layout %}
    <script type="application/javascript">
        function getSelectedSpecies() {
            var species = [];
            $('#species-filter').find('option:selected').each(function (index, sp) {
                species.push(sp.value);
            });
            return species;
        }
    </script>

    <script type="application/javascript">
        $('#species-filter').select2({
            containerCssClass: "no-border",
            tags: true,
            tokenSeparators: [','],
            ajax: {
                url: "{{ url_for('search_for_species') }}",
                dataType: 'json',
                delay: 250,
                processResults: function (data, params) {
                    params.species = data.species;
                    return {results: data.species};
                },
                data: function (params) {
                    return {
                        q: params.term,
                        exclude: getSelectedSpecies()
                    };
                }
            },
            createTag: function (params) {
                if (params.species)
                    return {
                        id: params.term,
                        text: params.term
                    };
                return null;
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            templateResult: function (species) {
                if (species.text !== undefined) return null;
                return [
                    '<div class="select2-result">',
                    '<span class="caption text-center">',
                    species.name,
                    '</span>',
                    '</div>'
                ].join('');
            },
            templateSelection: function (species) {
                return species.name || species.text;
            }
        });
    </script>

    {% block scripts %}{% endblock %}
{% endblock %}