<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Segments Clustering Tool</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Segments Clustering Tool</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="analysis-bar"><a href="{{ url_for('index') }}">Dataset Analysis</a></li>
                <li id="best-features-bar"><a href="{{ url_for('best_features') }}">Best features</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="margin-top: 50px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Clustering algorithm</h3>
                    </div>
                    <div class="panel-body">
                        <select id="clustering-algorithm">
                            {% for name, verbose_name in clustering_algorithms %}
                                <option value="{{ name }}">{{ verbose_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% block dimensions %}{% endblock %}

                {% block filter %}{% endblock %}

                <div style="text-align: center; margin-top: 20px">
                    <button id="refresh-button" class="btn btn-default">Refresh</button>
                </div>
            </div>

            <div class="col-md-9">
                <div id='scatter-chart'></div>
                <table id="statistics-table" class="table table-striped" style="margin-top: 10px">
                    <thead>
                    <tr id="statistics-table-head"></tr>
                    </thead>
                    <tbody id="statistics-table-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/exporting.js') }}"></script>

<link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet"/>
<script src="{{ url_for('static', filename='js/select2.full.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>

<script type="text/javascript">
    var chart;

    function refreshChart(data, x_title, y_title) {
        if (chart)
            chart.destroy();

        chart = Highcharts.chart('scatter-chart', {
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: 'Segments scatter chart'
            },
            xAxis: {
                title: {
                    text: x_title
                }
            },
            yAxis: {
                title: {
                    text: y_title
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    stickyTracking: false
                }
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '<span><b>class</b>: {series.name}</span>'
            },
            series: data.segments
        });
    }
</script>

{% block scripts_layout %}{% endblock %}

<script type="text/javascript">
    $('#refresh-button').click(function () {
        refresh();
    });

    $(function () {
        refresh();
    })
</script>

<script type="text/javascript">
    $(function () {
        $('#clustering-algorithm').select2({
            containerCssClass: "no-border"
        });

        $('.no-border').css({
            'border': 'none'
        })
    });
</script>

</body>
</html>
