<div id="clusters-number" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Number of features</h3>
    </div>
    <div class="panel-body">
        From <input type="number" class="features-number-input" id="min-features-number-input" value="1">
        to <input type="number" class="features-number-input" id="max-features-number-input" value="2">
        out of <b>{{ features_number }}</b>
    </div>
</div>

<style>
    .features-number-input {
        border: none;
        width: 50px;
        text-align: center;
    }
</style>