{% extends '_layout.html' %}

{% block filter %}
    <div id="clusters-number" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Number of clusters</h3>
        </div>
        <div class="panel-body">
            <input type="number" id="clusters-number-input" value="2" style="border: none">
        </div>
    </div>
{% endblock %}

{% block scripts_layout %}
    <script type="application/javascript">
        $(function () {
            $('#clustering-algorithm').on('change', function () {
                var require_n_clusters = [
                    'kmeans',
                    'spectral',
                    'gmm'
                ];
                var clustering_algorithm = $('#clustering-algorithm')[0].value;

                if (require_n_clusters.indexOf(clustering_algorithm) === -1)
                    $('#clusters-number').hide();
                else
                    $('#clusters-number').show();
            });
        })
    </script>

    {% block scripts %}{% endblock %}
{% endblock %}