{% extends '_classified.html' %}

{% block dimensions %}
    {% include '_features_select.html' %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>

    <script type="text/javascript">
        function refresh() {
            var clustering_algorithm = $('#clustering-algorithm')[0];
            var features = getSelectedFeatures();

            var query_dict = {
                'features[]': features,
                'clustering_algorithm': clustering_algorithm.value,
                'species[]': getSelectedSpecies()
            };
            $.get('{{ url_for('parameters_nd') }}', query_dict, function (data) {
                if (features.length === 2) {
                    var x = getFeatureDescription(features[0], data['feature_set']);
                    var y = getFeatureDescription(features[1], data['feature_set']);
                    refreshChart(data, x.verbose_name, y.verbose_name);
                }
                else {
                    refreshChart(data, null, null);
                }
                refreshTable(data, features);
            });
        }
    </script>
{% endblock %}