{% extends '_classified.html' %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>

    <script type="text/javascript">
        function refresh() {
            var clustering_algorithm = $('#clustering-algorithm')[0];

            var query_dict = {
                'clustering_algorithm': clustering_algorithm.value,
                'species[]': getSelectedSpecies()
            };
            $.get('{{ url_for('best_features_nd') }}', query_dict, function (data) {
                refreshChart(data);
                refreshTable(data, data.features);
            });
        }
    </script>

    <script type="application/javascript">
        $(function () {
            $('#2d-bar').removeClass('active');
            $('#nd-bar').removeClass('active');
            $('#best-features-bar').addClass('active');

            $('#features-filter').select2({
                containerCssClass: "no-border"
            });
        });
    </script>
{% endblock %}
