{% extends '_classified.html' %}

{% block dimensions %}
    {% include '_features_select.html' %}
{% endblock %}

{% block after_training %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Classify segment</h3>
        </div>
        <div class="panel-body">
            <form id="classify-form" method="post" action="." enctype="multipart/form-data">
                <input type=file name=file>
                <input type="submit" value="Classify"> <b><span id="classify-result"></span></b>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>

    <script type="text/javascript">
        function refresh() {
            var clustering_algorithm = $('#clustering-algorithm')[0];
            var features = getSelectedFeatures();

            var query_dict = {
                'features[]': features,
                'clustering_algorithm': clustering_algorithm.value,
                'species[]': getSelectedSpecies()
            };
            $.get('{{ url_for('parameters_nd') }}', query_dict, function (data) {
                if (features.length === 2) {
                    var x = getFeatureDescription(features[0], data['feature_set']);
                    var y = getFeatureDescription(features[1], data['feature_set']);
                    refreshChart(data, x.verbose_name, y.verbose_name);
                }
                else {
                    refreshChart(data, null, null);
                }
                refreshTable(data, features);
            });
        }
    </script>

    <script>
        $(function () {
            $('#classify-form').submit(function (e) {
                e.preventDefault();

                var data = new FormData(this);
                var features = getSelectedFeatures();

                for (var i = 0; i < features.length; i++)
                    data.append('features[]', features[i]);

                $.ajax({
                    url: '{{ url_for('classify') }}',
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        $('#classify-result').html(result['label']);
                        chart.series[result['centroid']].addPoint(result);
                    },
                    contentType: false,
                    processData: false
                });
            })
        })
    </script>
{% endblock %}