<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Segments Clustering Tool</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>

<div class="container" style="margin-top: 50px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Clustering algorithm</h3>
                    </div>
                    <div class="panel-body">
                        <select id="clustering-algorithm">
                            {% for name, verbose_name in clustering_algorithms %}
                                <option value="{{ name }}">{{ verbose_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>X</b> axis selector</h3>
                    </div>
                    <div class="panel-body">
                        <select id="x-axis">
                            {% for name, verbose_name in axis %}
                                <option value="{{ name }}">{{ verbose_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Y</b> axis selector</h3>
                    </div>
                    <div class="panel-body">
                        <select id="y-axis">
                            {% for name, verbose_name in axis %}
                                <option value="{{ name }}">{{ verbose_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Filter by species</h3>
                    </div>
                    <div class="panel-body">
                        <select id="species-filter" class="form-control" multiple="multiple"></select>
                    </div>
                </div>

                <div style="text-align: center; margin-top: 20px">
                    <button id="refresh-button">Refresh</button>
                </div>
            </div>

            <div class="col-md-9">
                <div id='scatter-chart'></div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        {#                        <th>Main class</th>#}
                        {#                        <th>Proportion</th>#}
                        <th id="x-mean-column">X mean</th>
                        <th id="x-var-column">X var</th>
                        <th id="y-mean-column">Y mean</th>
                        <th id="y-var-column">Y var</th>
                    </tr>
                    </thead>
                    <tbody id="statistics-table-body">
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/exporting.js') }}"></script>

<script type="text/javascript">
    function getSelectedSpecies() {
        var species = [];
        $('#species-filter').find('option:selected').each(function (index, sp) {
            species.push(sp.value);
        });
        return species;
    }
</script>

<script type="text/javascript">
    var chart;

    function refreshChart(data, x_title, y_title) {
        if (chart)
            chart.destroy();

        chart = Highcharts.chart('scatter-chart', {
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: 'Segments scatter chart'
            },
            xAxis: {
                title: {
                    text: x_title
                }
            },
            yAxis: {
                title: {
                    text: y_title
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    stickyTracking: false
                }
            },
            tooltip: {
                useHTML: true,
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '<span><b>class</b>: {series.name}</span>'
            },
            series: data.segments
        });
    }

    function refreshTable(data, x_title, y_title) {
        var segments = data.segments;
        var table_body = "";

        for (var i = 0; i < segments.length; i++) {
            if (segments[i].name === '-1') continue;
            table_body +=
                "<tr>" +
                "<td>" + segments[i].name + "</td>" +
                "<td>" + segments[i].statistics.x_mean + "</td>" +
                "<td>" + segments[i].statistics.x_var + "</td>" +
                "<td>" + segments[i].statistics.y_mean + "</td>" +
                "<td>" + segments[i].statistics.y_var + "</td>" +
                "</tr>"
        }
        $('#statistics-table-body').html(table_body);

        $('#x-mean-column').html(x_title + ' mean');
        $('#x-var-column').html(x_title + ' var');
        $('#y-mean-column').html(y_title + ' mean');
        $('#y-var-column').html(y_title + ' var');
    }

    function refresh() {
        var x = $('#x-axis')[0];
        var y = $('#y-axis')[0];
        var clustering_algorithm = $('#clustering-algorithm')[0];

        var query_dict = {
            'x': x.value,
            'y': y.value,
            'clustering_algorithm': clustering_algorithm.value,
            'species[]': getSelectedSpecies()
        };
        $.get('{{ url_for('parameters_2d') }}', query_dict, function (data) {
            refreshChart(data, x[x.selectedIndex].text, y[y.selectedIndex].text);
            refreshTable(data, x[x.selectedIndex].text, y[y.selectedIndex].text);
        });
    }

    $('#refresh-button').click(function () {
        refresh();
    });

    $(function () {
        refresh();
    })
</script>

<link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet"/>
<script src="{{ url_for('static', filename='js/select2.full.min.js') }}"></script>

<script type="text/javascript">
    $(function () {
        $('#clustering-algorithm').select2({
            containerCssClass: "no-border"
        });
        $('#x-axis').select2({
            containerCssClass: "no-border"
        });
        $('#y-axis').select2({
            containerCssClass: "no-border"
        });

        $('#species-filter').select2({
            containerCssClass: "no-border",
            tags: true,
            tokenSeparators: [','],
            ajax: {
                url: "{{ url_for('search_for_species') }}",
                dataType: 'json',
                delay: 250,
                processResults: function (data, params) {
                    params.species = data.species;
                    return {results: data.species};
                },
                data: function (params) {
                    return {
                        q: params.term,
                        exclude: getSelectedSpecies()
                    };
                }
            },
            createTag: function (params) {
                if (params.species)
                    return {
                        id: params.term,
                        text: params.term
                    };
                return null;
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            templateResult: function (species) {
                if (species.text !== undefined) return null;
                return [
                    '<div class="select2-result">',
                    '<span class="caption text-center">',
                    species.name,
                    '</span>',
                    '</div>'
                ].join('');
            },
            templateSelection: function (species) {
                return species.name || species.text;
            }
        });

        $('.no-border').css({
            'border': 'none'
        })
    });
</script>
</body>
</html>
