<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Highcharts Example</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>

<div class="container" style="margin-top: 50px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>X</b> axis selector</h3>
                    </div>
                    <div class="panel-body">
                        <select id="x-axis">
                            {% for name, verbose_name in axis %}
                                <option value="{{ name }}">{{ verbose_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Y</b> axis selector</h3>
                    </div>
                    <div class="panel-body">
                        <select id="y-axis">
                            {% for name, verbose_name in axis %}
                                <option value="{{ name }}">{{ verbose_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {#                <div class="panel panel-info">#}
                {#                    <div class="panel-heading">#}
                {#                        <h3 class="panel-title">Filter by species</h3>#}
                {#                    </div>#}
                {#                    <div class="panel-body">#}
                {#                        <select id="species-filter" class="form-control" multiple="multiple"></select>#}
                {#                    </div>#}
                {#                </div>#}

                <div style="text-align: center; margin-top: 20px">
                    <button id="refresh-button">Refresh</button>
                </div>
            </div>

            <div class="col-md-9">
                <div id='scatter-chart'></div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/exporting.js') }}"></script>

<script type="text/javascript">
    $(function () {
        var chart;

        function refreshChart() {
            var x = $('#x-axis')[0];
            var y = $('#y-axis')[0];

            if (chart)
                chart.destroy();

            var query_dict = {
                'x': x.value,
                'y': y.value
            };
            $.get('{{ url_for('parameters_2d') }}', query_dict, function (data) {
                chart = Highcharts.chart('scatter-chart', {
                    chart: {
                        type: 'scatter',
                        zoomType: 'xy'
                    },
                    title: {
                        text: 'Segments scatter chart'
                    },
                    xAxis: {
                        title: {
                            text: x[x.selectedIndex].text
                        }
                    },
                    yAxis: {
                        title: {
                            text: y[y.selectedIndex].text
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                        borderWidth: 1
                    },
                    plotOptions: {
                        scatter: {
                            marker: {
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            stickyTracking: false
                        }
                    },
                    tooltip: {
                        useHTML: true,
                        headerFormat: '<b>{point.key}</b><br>',
                        pointFormat: ''
                    },
                    series: data.segments
                });
            });
        }

        $('#refresh-button').click(function () {
            refreshChart();
        });

        refreshChart();
    });
</script>

<link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet"/>
<script src="{{ url_for('static', filename='js/select2.full.min.js') }}"></script>

<script type="text/javascript">
    $(function () {
        $('#x-axis').select2({
            containerCssClass: "no-border"
        });
        $('#y-axis').select2({
            containerCssClass: "no-border"
        });

        $('.no-border').css({
            'border': 'none'
        })
    });
</script>
</body>
</html>
